<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>테스트 페이지</title>
</head>
<body>
    <h1>안녕하세요! 테스트 페이지</h1>
    <a href="/hello">hello 페이지</a>

    <p>텍스트 출력(html 태그 인식), th:utext는 태그 인식 O, th:text는 태그 인식 X</p>
    <span th:utext="${data1}">message</span>

    <!-- Input/select 등 태그의 값 지정 -->
    <input type="text" th:value="${data2}">

    <!-- 체크박스에서 th:field="*{data2}" 는 체크박스와 data2 변수를 바인딩한다.(묶는 것)
     체크박스 체크 여부에 따라서 data2 값이 달라진다. 
     다만 Boolean과만 연결되고, data2 값은 문자열이라 바인딩 안돼서 값이 바뀌지 않음-->
    <input type="checkbox" th:field="*{data2}" th:value="true"> 동의합니다.

    <!-- 태그의 속성 값 여러 개 지정(링크는 @) -->
    <p><a th:href="@{/posts/(id=${link})}">글 상세보기</a></p>

    <p>지역변수(태그 내에서만 동작)</p>
    <div th:with="first=${name}">
        <p>리스트에서 처음 사람의 이름 = <span th:text="${first}"></span></p>
    <div>

    링크에 파라미터 추가하기(&를 ,로 표현)
    <a th:href="@{/products/detail/(productId=${para1}, productId=${para2})}">상품 상세보기</a>

</body>
</html>